@import "src/sass/var"

header
  background-color: $prime
  h1
    color: $White
    font-family: $font, sans-serif
    font-size: 3rem
  ul
    list-style: none
    li
      display: inline-block
      padding: $cube
    img
      width: 5rem

*
  margin-top: 0


