<div class="note-container">
<table>
  <tr>
    <th>Offen</th>
    <th>In Arbeit</th>
    <th>Abgeschlossen</th>
  </tr>
  <!--<tr><td><app-sticky-note></app-sticky-note></td></tr>-->
        <tr *ngFor="let note of notes" class="list-group-item" cdkDropList #todolist="cdkDropList" >
          <td> <div class="sticky-note">{{note.name}}<br>{{note.beschreibung}}</div></td>
          <td></td>
          <td></td>
        </tr>
  <tr>
    <td><div class="todo-form">
      <form #Aufgaben="ngForm" (ngSubmit)="onSubmit()">
        <input [ngModel]="titel">
        <br>
        <input [ngModel]="beschreibung">
        <br>
        <input type = "submit" value = "Aufgabe erstellen">
      </form>
    </div></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>

