<div class="note-container">
<table>
  <tr>
    <th>Offen</th>
    <th>In Arbeit</th>
    <th>Abgeschlossen</th>
  </tr>
        <tr>
          <td>
            <div *ngFor="let note of openTasks" class="list-group-item" class="sticky-note">
              <h2>{{note.name}}</h2>
              <br>
              {{note.description}}
              <br>
              {{note.date}}
            </div>
          </td>
          <td>
            <div *ngFor="let note of progressTasks" class="list-group-item" class="sticky-note">
              <h2>{{note.name}}</h2>
              <br>
              {{note.description}}
              <br>
              {{note.date}}
            </div>
          </td>
          <td>
            <div *ngFor="let note of finishedTasks" class="list-group-item" class="sticky-note">
              <h2>{{note.name}}</h2>
              <br>
              {{note.description}}
              <br>
              {{note.date}}
            </div>
          </td>
        </tr>
  <tr>
    <td><div class="todo-form">
      <form #Aufgaben="ngForm" (ngSubmit)="onSubmit()">
        <input [ngModel]="namen" name="name">
        <br>
        <input [ngModel]="beschreibung" name="beschreibung">
        <br>
        <input type = "submit" value = "Aufgabe erstellen">
      </form>
    </div></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>

